body {
  font-family: "Secular One", sans-serif;
  color: #4d4c7d;
}

h3 {
  font-size: 16px;
}
ul {
  list-style: none;
  font-size: 16px;
  padding: 20px 0 0 0;
}
footer {
  text-align: center;
  font-size: 12px;
  color: grey;
  padding: 30px 0 0 0;
}
a {
  text-decoration: none;
}
.container {
  background: linear-gradient(to top, #a8edea9e 0%, #f8bde347 100%);
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 12px grey;
  max-width: 70%;
}

#city {
  font-size: 50px;
}
#search-form {
  margin: 15px 0 30px 0;
}
#icon {
  border: 2px solid #454f974c;
  border-radius: 10px;
}
#main-info {
  position: relative;
  top: 15px;
  right: 40px;
  text-align: right;
}
#description {
  text-transform: capitalize;
}
#forecast-container {
  margin-top: 50px;
}
.units {
  position: relative;
  top: -30px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}
.units .active {
  color: grey;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
ul.details {
  position: relative;
  top: 15px;
  font-size: 14px;
  padding: 0px;
  font-weight: lighter;
}

.forecast-container {
  margin-top: 40px;
  text-align: center;
}
.forecast-days {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast-temperatures {
  font-size: 15 px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}

#temperature {
  position: relative;
  top: 0px;
  font-family: monospace;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
