#checkWeather {
  background: #dbdffd;
  transition: all 200ms ease-in-out;
  border: 1px solid #646fd4;
  border-radius: 8px;
  padding: 7px 23px;
  color: #646fd4;
  font-size: 14px;
}

#checkWeather:hover {
  background: #565da0;
  color: #fff;
}
.btn-location {
  background: #565da0;
  transition: all 200ms ease-in-out;
  color: #fff;
  border: 1px solid #646fd4;
  border-radius: 8px;
  font-size: 14px;
  padding: 7px 10px;
}
.btn-location:hover {
  background: #dbdffd;
  color: #646fd4;
}
